#footer2 
    {
        background:none;
        border-bottom:none;
        border-top:none;
        padding:0;
        height:auto;
    }
    #footer1 
    {
        display:none;
    }
    #fus
    {
        width: 962px;
        padding: 15px;
        background: #eee;
        border: 1px solid #DDD;
        background: -moz-linear-gradient(top, #EEE, #FFF);    
        background: -webkit-linear-gradient(top, #eee, #fff);
        background: -ms-linear-gradient(top, #eee, #fff);
        background: -o-linear-gradient(top, #eee, #fff);
        margin-top:15px;
        
      }
    #fus h4
    {
        color: #0098DD;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 10px;
        border-bottom: 1px solid #C0C0C0;
    }
    #fus p 
    {
        margin:0 0 8px;
    }
    #fus .one
    {
        width: 23%;
        margin-right: 2%;
        float: left;
    }
    #fus .two
    {
        width: 23%;
        margin-right: 2%;
        float: left;
    }
    #fus .three
    {
        width: 23%;
        margin-right: 2%;
        float: left;
    }
    #fus .four
    {
        width: 25%;
        float: left;
    }
    #fus a 
    {
        text-decoration:none;
    }
    #fus a:hover 
    {
        text-decoration:none;
        color:#0098DD;
    }
    #fus a.klappt:hover 
    {
        text-decoration:none;
        color:#F59C00;
    }
    #fus .four_row p 
    {
        line-height:21px;
    }
    img.zahlungsart 
    {
        padding-right:15px;
    }
    img.haken 
    {
        padding-right:4px;
    }
    .three_row 
    {
        width:75%;
        float:left;
    }
    .three_row_one 
    {
        width:31.3%;
        margin-right:2%;
        float:left;
    }
    .three_row_two 
    {
        width:31.3%;
        margin-right:2%;
        float:left;
    }
    .three_row_three 
    {
        width:31.3%;
        margin-right:2%;
        float:left;
    }
    .single 
    {
        width:25%;
        float:left;
    }
    #Form1 .inputField 
    {
        width:155px;
    }