/***** Preis CE ******/

.preis{
	display:table ;

	position:absolute;
	top: 0px;
	left: 100px;

	margin:0px 0px 0px 0px ;

	width:auto;
	height: 60px;

	z-index:100;
}


.preis > span{
	display:inline-block;
	background:url('http://www.conrad.de/medias/sys_master/8541948673652272.png') 0px 0px no-repeat ;
	background-size:512px 169px ;
	overflow:hidden ;
	text-indent:-9999em ;
	overflow:hidden ;
	float:left ;
}

/* ### preis 53px ### */
.preis.pl > span, .preis > span{
	height:60px ;
}

.preis.pl > span.p-0, .preis > span.p-0{
	width:35px ;
	background-position:-13px -13px ;
}

		.preis.pl > span.p-0 + span.p-0, .preis > span.p-0 + span.p-0{ margin-left:-2px ; }
		.preis.pl > span.p-0 + span.p-1, .preis > span.p-0 + span.p-1{ margin-left:-3px ; }
		.preis.pl > span.p-0 + span.p-2, .preis > span.p-0 + span.p-2{ margin-left:-5px ; }
		.preis.pl > span.p-0 + span.p-3, .preis > span.p-0 + span.p-3{ margin-left:-5px ; }
		.preis.pl > span.p-0 + span.p-4, .preis > span.p-0 + span.p-4{ margin-left:-3px ; }
		.preis.pl > span.p-0 + span.p-5, .preis > span.p-0 + span.p-5{ margin-left:-4px ; }
		.preis.pl > span.p-0 + span.p-6, .preis > span.p-0 + span.p-6{ margin-left:-3px ; }
		.preis.pl > span.p-0 + span.p-7, .preis > span.p-0 + span.p-7{ margin-left:-4px ; }
		.preis.pl > span.p-0 + span.p-8, .preis > span.p-0 + span.p-8{ margin-left:-4px ; }
		.preis.pl > span.p-0 + span.p-9, .preis > span.p-0 + span.p-9{ margin-left:-2px ; }
		.preis.pl > span.p-0 + span.p-c, .preis > span.p-0 + span.p-c{ margin-left:-3px ; }
		.preis.pl > span.p-0 + span.p-2.p-small, .preis > span.p-0 + span.p-2.p-small{ margin-left:-2px ; }
		.preis.pl > span.p-0 + span.p-3.p-small, .preis > span.p-0 + span.p-3.p-small{ margin-left:-2px ; }
		.preis.pl > span.p-0 + span.p-5.p-small, .preis > span.p-0 + span.p-5.p-small{ margin-left:-2px ; }
		.preis.pl > span.p-0 + span.p-6.p-small, .preis > span.p-0 + span.p-6.p-small{ margin-left:-2px ; }
		.preis.pl > span.p-0 + span.p-8.p-small, .preis > span.p-0 + span.p-8.p-small{ margin-left:-2px ; }

	.preis.pl > span.p-1, .preis > span.p-1{
		width:24px ;
		background-position:-58px -13px ;
	}

		.preis.pl > span.p-1 + span.p-0, .preis > span.p-1 + span.p-0{ margin-left:-3px ; }
		.preis.pl > span.p-1 + span.p-1, .preis > span.p-1 + span.p-1{ margin-left:-3px ; }
		.preis.pl > span.p-1 + span.p-2, .preis > span.p-1 + span.p-2{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-3, .preis > span.p-1 + span.p-3{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-4, .preis > span.p-1 + span.p-4{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-5, .preis > span.p-1 + span.p-5{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-6, .preis > span.p-1 + span.p-6{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-7, .preis > span.p-1 + span.p-7{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-8, .preis > span.p-1 + span.p-8{ margin-left:-4px ; }
		.preis.pl > span.p-1 + span.p-9, .preis > span.p-1 + span.p-9{ margin-left:-3px ; }
		.preis.pl > span.p-1 + span.p-c, .preis > span.p-1 + span.p-c{ margin-left:-4px ; }

	.preis.pl > span.p-2, .preis > span.p-2{
		width:33px ;
		background-position:-92px -13px ;
	}
		.preis.pl > span.p-2 + span.p-0, .preis > span.p-2 + span.p-0{ margin-left:-3px ; }
		.preis.pl > span.p-2 + span.p-1, .preis > span.p-2 + span.p-1{ margin-left:-3px ; }
		.preis.pl > span.p-2 + span.p-2, .preis > span.p-2 + span.p-2{ margin-left:-4px ; }
		.preis.pl > span.p-2 + span.p-3, .preis > span.p-2 + span.p-3{ margin-left:-3px ; }
		.preis.pl > span.p-2 + span.p-4, .preis > span.p-2 + span.p-4{ margin-left:-4px ; }
		.preis.pl > span.p-2 + span.p-5, .preis > span.p-2 + span.p-5{ margin-left:-3px ; }
		.preis.pl > span.p-2 + span.p-6, .preis > span.p-2 + span.p-6{ margin-left:-4px ; }
		.preis.pl > span.p-2 + span.p-7, .preis > span.p-2 + span.p-7{ margin-left:-4px ; }
		.preis.pl > span.p-2 + span.p-8, .preis > span.p-2 + span.p-8{ margin-left:-4px ; }
		.preis.pl > span.p-2 + span.p-9, .preis > span.p-2 + span.p-9{ margin-left:-3px ; }
		.preis.pl > span.p-2 + span.p-c, .preis > span.p-2 + span.p-c{ margin-left:-3px ; }
		.preis.pl > span.p-2 + span.p-2.p-small, .preis > span.p-2 + span.p-2.p-small{ margin-left:-3px ; }

	.preis.pl > span.p-3, .preis > span.p-3{
		width:33px ;
		background-position:-134px -13px ;
	}
		.preis.pl > span.p-3 + span.p-0, .preis > span.p-3 + span.p-0{ margin-left:-3px ; }
		.preis.pl > span.p-3 + span.p-1, .preis > span.p-3 + span.p-1{ margin-left:-3px ; }
		.preis.pl > span.p-3 + span.p-2, .preis > span.p-3 + span.p-2{ margin-left:-4px ; }
		.preis.pl > span.p-3 + span.p-3, .preis > span.p-3 + span.p-3{ margin-left:-5px ; }
		.preis.pl > span.p-3 + span.p-4, .preis > span.p-3 + span.p-4{ margin-left:-4px ; }
		.preis.pl > span.p-3 + span.p-5, .preis > span.p-3 + span.p-5{ margin-left:-5px ; }
		.preis.pl > span.p-3 + span.p-6, .preis > span.p-3 + span.p-6{ margin-left:-4px ; }
		.preis.pl > span.p-3 + span.p-7, .preis > span.p-3 + span.p-7{ margin-left:-4px ; }
		.preis.pl > span.p-3 + span.p-8, .preis > span.p-3 + span.p-8{ margin-left:-4px ; }
		.preis.pl > span.p-3 + span.p-9, .preis > span.p-3 + span.p-9{ margin-left:-3px ; }
		.preis.pl > span.p-3 + span.p-c, .preis > span.p-3 + span.p-c{ margin-left:-4px ; }

	.preis.pl > span.p-4, .preis > span.p-4{
		width:37px ;
		background-position:-176px -13px ;
	}
		.preis.pl > span.p-4 + span.p-0, .preis > span.p-4 + span.p-0{ margin-left:-2px ; }
		.preis.pl > span.p-4 + span.p-1, .preis > span.p-4 + span.p-1{ margin-left:-4px ; }
		.preis.pl > span.p-4 + span.p-2, .preis > span.p-4 + span.p-2{ margin-left:-3px ; }
		.preis.pl > span.p-4 + span.p-3, .preis > span.p-4 + span.p-3{ margin-left:-3px ; }
		.preis.pl > span.p-4 + span.p-4, .preis > span.p-4 + span.p-4{ margin-left:-3px ; }
		.preis.pl > span.p-4 + span.p-5, .preis > span.p-4 + span.p-5{ margin-left:-2px ; }
		.preis.pl > span.p-4 + span.p-6, .preis > span.p-4 + span.p-6{ margin-left:-3px ; }
		.preis.pl > span.p-4 + span.p-7, .preis > span.p-4 + span.p-7{ margin-left:-6px ; }
		.preis.pl > span.p-4 + span.p-8, .preis > span.p-4 + span.p-8{ margin-left:-3px ; }
		.preis.pl > span.p-4 + span.p-9, .preis > span.p-4 + span.p-9{ margin-left:-4px ; }
		.preis.pl > span.p-4 + span.p-c, .preis > span.p-4 + span.p-c{ margin-left:-2px ; }
		.preis.pl > span.p-4 + span.p-0.p-small, .preis > span.p-4 + span.p-0.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-4 + span.p-7.p-small, .preis > span.p-4 + span.p-7.p-small{ margin-left:-3px ; }
		.preis.pl > span.p-4 + span.p-9.p-small, .preis > span.p-4 + span.p-9.p-small{ margin-left:-3px ; }

	.preis.pl > span.p-5, .preis > span.p-5{
		width:33px ;
		background-position:-222px -13px ;
	}
		.preis.pl > span.p-5 + span.p-0, .preis > span.p-5 + span.p-0{ margin-left:-2px ; }
		.preis.pl > span.p-5 + span.p-1, .preis > span.p-5 + span.p-1{ margin-left:-2px ; }
		.preis.pl > span.p-5 + span.p-2, .preis > span.p-5 + span.p-2{ margin-left:-2px ; }
		.preis.pl > span.p-5 + span.p-3, .preis > span.p-5 + span.p-3{ margin-left:-3px ; }
		.preis.pl > span.p-5 + span.p-4, .preis > span.p-5 + span.p-4{ margin-left:-3px ; }
		.preis.pl > span.p-5 + span.p-5, .preis > span.p-5 + span.p-5{ margin-left:-2px ; }
		.preis.pl > span.p-5 + span.p-6, .preis > span.p-5 + span.p-6{ margin-left:-3px ; }
		.preis.pl > span.p-5 + span.p-7, .preis > span.p-5 + span.p-7{ margin-left:-3px ; }
		.preis.pl > span.p-5 + span.p-8, .preis > span.p-5 + span.p-8{ margin-left:-3px ; }
		.preis.pl > span.p-5 + span.p-9, .preis > span.p-5 + span.p-9{ margin-left:-4px ; }
		.preis.pl > span.p-5 + span.p-c, .preis > span.p-5 + span.p-c{ margin-left:-2px ; }
		.preis.pl > span.p-5 + span.p-9.p-small, .preis > span.p-5 + span.p-9.p-small{ margin-left:-2px ; }

	.preis.pl > span.p-6, .preis > span.p-6{
		width:36px ;
		background-position:-265px -13px ;
	}
		.preis.pl > span.p-6 + span.p-0, .preis > span.p-6 + span.p-0{ margin-left:-2px ; }
		.preis.pl > span.p-6 + span.p-1, .preis > span.p-6 + span.p-1{ margin-left:-4px ; }
		.preis.pl > span.p-6 + span.p-2, .preis > span.p-6 + span.p-2{ margin-left:-3px ; }
		.preis.pl > span.p-6 + span.p-3, .preis > span.p-6 + span.p-3{ margin-left:-3px ; }
		.preis.pl > span.p-6 + span.p-4, .preis > span.p-6 + span.p-4{ margin-left:-3px ; }
		.preis.pl > span.p-6 + span.p-5, .preis > span.p-6 + span.p-5{ margin-left:-4px ; }
		.preis.pl > span.p-6 + span.p-6, .preis > span.p-6 + span.p-6{ margin-left:-4px ; }
		.preis.pl > span.p-6 + span.p-7, .preis > span.p-6 + span.p-7{ margin-left:-3px ; }
		.preis.pl > span.p-6 + span.p-8, .preis > span.p-6 + span.p-8{ margin-left:-3px ; }
		.preis.pl > span.p-6 + span.p-9, .preis > span.p-6 + span.p-9{ margin-left:-5px ; }
		.preis.pl > span.p-6 + span.p-c, .preis > span.p-6 + span.p-c{ margin-left:-2px ; }
		.preis.pl > span.p-6 + span.p-0.p-small, .preis > span.p-6 + span.p-0.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-6 + span.p-5.p-small, .preis > span.p-6 + span.p-5.p-small{ margin-left:-3px ; }
		.preis.pl > span.p-6 + span.p-9.p-small, .preis > span.p-6 + span.p-9.p-small{ margin-left:-3px ; }

	.preis.pl > span.p-7, .preis > span.p-7{
		width:31px ;
		background-position:-309px -13px ;
	}
		.preis.pl > span.p-7 + span.p-0, .preis > span.p-7 + span.p-0{ margin-left:-3px ; }
		.preis.pl > span.p-7 + span.p-1, .preis > span.p-7 + span.p-1{ margin-left:-2px ; }
		.preis.pl > span.p-7 + span.p-2, .preis > span.p-7 + span.p-2{ margin-left:-2px ; }
		.preis.pl > span.p-7 + span.p-3, .preis > span.p-7 + span.p-3{ margin-left:-3px ; }
		.preis.pl > span.p-7 + span.p-4, .preis > span.p-7 + span.p-4{ margin-left:-6px ; }
		.preis.pl > span.p-7 + span.p-5, .preis > span.p-7 + span.p-5{ margin-left:-5px ; }
		.preis.pl > span.p-7 + span.p-6, .preis > span.p-7 + span.p-6{ margin-left:-5px ; }
		.preis.pl > span.p-7 + span.p-7, .preis > span.p-7 + span.p-7{ margin-left:-4px ; }
		.preis.pl > span.p-7 + span.p-8, .preis > span.p-7 + span.p-8{ margin-left:-4px ; }
		.preis.pl > span.p-7 + span.p-9, .preis > span.p-7 + span.p-9{ margin-left:-4px ; }
		.preis.pl > span.p-7 + span.p-c, .preis > span.p-7 + span.p-c{ margin-left:-2px ; }
		.preis.pl > span.p-7 + span.p-4.p-small, .preis > span.p-7 + span.p-4.p-small{ margin-left:-5px ; }
		.preis.pl > span.p-7 + span.p-5.p-small, .preis > span.p-7 + span.p-5.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-7 + span.p-6.p-small, .preis > span.p-7 + span.p-6.p-small{ margin-left:-3px ; }
		.preis.pl > span.p-7 + span.p-7.p-small, .preis > span.p-7 + span.p-7.p-small{ margin-left:-2px ; }
		.preis.pl > span.p-7 + span.p-8.p-small, .preis > span.p-7 + span.p-8.p-small{ margin-left:-3px ; }
		.preis.pl > span.p-7 + span.p-9.p-small, .preis > span.p-7 + span.p-9.p-small{ margin-left:-3px ; }


	 .preis.pl > span.p-8, .preis > span.p-8{
		width:37px ;
		background-position:-349px -13px ;
	}
		.preis.pl > span.p-8 + span.p-0, .preis > span.p-8 + span.p-0{ margin-left:-2px ; }
		.preis.pl > span.p-8 + span.p-1, .preis > span.p-8 + span.p-1{ margin-left:-3px ; }
		.preis.pl > span.p-8 + span.p-2, .preis > span.p-8 + span.p-2{ margin-left:-3px ; }
		.preis.pl > span.p-8 + span.p-3, .preis > span.p-8 + span.p-3{ margin-left:-4px ; }
		.preis.pl > span.p-8 + span.p-4, .preis > span.p-8 + span.p-4{ margin-left:-3px ; }
		.preis.pl > span.p-8 + span.p-5, .preis > span.p-8 + span.p-5{ margin-left:-4px ; }
		.preis.pl > span.p-8 + span.p-6, .preis > span.p-8 + span.p-6{ margin-left:-3px ; }
		.preis.pl > span.p-8 + span.p-7, .preis > span.p-8 + span.p-7{ margin-left:-2px ; }
		.preis.pl > span.p-8 + span.p-8, .preis > span.p-8 + span.p-8{ margin-left:-3px ; }
		.preis.pl > span.p-8 + span.p-9, .preis > span.p-8 + span.p-9{ margin-left:-2px ; }
		.preis.pl > span.p-8 + span.p-c, .preis > span.p-8 + span.p-c{ margin-left:-2px ; }

	.preis.pl > span.p-9, .preis > span.p-9{
		width:37px ;
		background-position:-397px -13px ;
	}
		.preis.pl > span.p-9 + span.p-0, .preis > span.p-9 + span.p-0{ margin-left:-3px ; }
		.preis.pl > span.p-9 + span.p-1, .preis > span.p-9 + span.p-1{ margin-left:-5px ; }
		.preis.pl > span.p-9 + span.p-2, .preis > span.p-9 + span.p-2{ margin-left:-6px ; }
		.preis.pl > span.p-9 + span.p-3, .preis > span.p-9 + span.p-3{ margin-left:-8px ; }
		.preis.pl > span.p-9 + span.p-4, .preis > span.p-9 + span.p-4{ margin-left:-5px ; }
		.preis.pl > span.p-9 + span.p-5, .preis > span.p-9 + span.p-5{ margin-left:-6px ; }
		.preis.pl > span.p-9 + span.p-6, .preis > span.p-9 + span.p-6{ margin-left:-5px ; }
		.preis.pl > span.p-9 + span.p-7, .preis > span.p-9 + span.p-7{ margin-left:-6px ; }
		.preis.pl > span.p-9 + span.p-8, .preis > span.p-9 + span.p-8{ margin-left:-6px ; }
		.preis.pl > span.p-9 + span.p-9, .preis > span.p-9 + span.p-9{ margin-left:-4px ; }
		.preis.pl > span.p-9 + span.p-c, .preis > span.p-9 + span.p-c{ margin-left:-2px ; }
		.preis.pl > span.p-9 + span.p-2.p-small, .preis > span.p-9 + span.p-2.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-9 + span.p-3.p-small, .preis > span.p-9 + span.p-3.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-9 + span.p-5.p-small, .preis > span.p-9 + span.p-5.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-9 + span.p-6.p-small, .preis > span.p-9 + span.p-6.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-9 + span.p-8.p-small, .preis > span.p-9 + span.p-8.p-small{ margin-left:-4px ; }
		.preis.pl > span.p-9 + span.p-9.p-small, .preis > span.p-9 + span.p-9.p-small{ margin-left:-5px ; }

	.preis.pl > span.p-c, .preis > span.p-c{
		width:35px ;
		background-position:-443px -13px ;
	}

			.preis.pl > span, .preis > span.p-small
			{
				height:50px ;
			}
			.preis.pl > span.p-0.p-small, .preis > span.p-0.p-small{
				width:24px ;
				background-position:-13px -74px ;
			}
				.preis.pl > span.p-0.p-small + span.p-0.p-small, .preis > span.p-0.p-small + span.p-0.p-small { margin-left:-2px ; }
				.preis.pl > span.p-0.p-small + span.p-1.p-small, .preis > span.p-0.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-0.p-small + span.p-2.p-small, .preis > span.p-0.p-small + span.p-2.p-small { margin-left:-4px ; }
				.preis.pl > span.p-0.p-small + span.p-3.p-small, .preis > span.p-0.p-small + span.p-3.p-small { margin-left:-5px ; }
				.preis.pl > span.p-0.p-small + span.p-4.p-small, .preis > span.p-0.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-0.p-small + span.p-5.p-small, .preis > span.p-0.p-small + span.p-5.p-small { margin-left:-4px ; }
				.preis.pl > span.p-0.p-small + span.p-6.p-small, .preis > span.p-0.p-small + span.p-6.p-small { margin-left:-2px ; }
				.preis.pl > span.p-0.p-small + span.p-7.p-small, .preis > span.p-0.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-0.p-small + span.p-8.p-small, .preis > span.p-0.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-0.p-small + span.p-9.p-small, .preis > span.p-0.p-small + span.p-9.p-small { margin-left:-2px ; }

			.preis.pl > span.p-1.p-small, .preis > span.p-1.p-small{
				width:17px ;
				background-position:-42px -74px ;
			}
				.preis.pl > span.p-1.p-small + span.p-0.p-small, .preis > span.p-1.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-1.p-small, .preis > span.p-1.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-2.p-small, .preis > span.p-1.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-3.p-small, .preis > span.p-1.p-small + span.p-3.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-4.p-small, .preis > span.p-1.p-small + span.p-4.p-small { margin-left:-4px ; }
				.preis.pl > span.p-1.p-small + span.p-5.p-small, .preis > span.p-1.p-small + span.p-5.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-6.p-small, .preis > span.p-1.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-7.p-small, .preis > span.p-1.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-8.p-small, .preis > span.p-1.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-1.p-small + span.p-9.p-small, .preis > span.p-1.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-2.p-small, .preis > span.p-2.p-small{
				width:22px ;
				background-position:-65px -74px ;
			}
				.preis.pl > span.p-2.p-small + span.p-0.p-small, .preis > span.p-2.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-1.p-small, .preis > span.p-2.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-2.p-small, .preis > span.p-2.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-3.p-small, .preis > span.p-2.p-small + span.p-3.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-4.p-small, .preis > span.p-2.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-5.p-small, .preis > span.p-2.p-small + span.p-5.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-6.p-small, .preis > span.p-2.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-7.p-small, .preis > span.p-2.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-8.p-small, .preis > span.p-2.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-2.p-small + span.p-9.p-small, .preis > span.p-2.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-3.p-small, .preis > span.p-3.p-small{
				width:22px ;
				background-position:-92px -74px ;
			}
				.preis.pl > span.p-3.p-small + span.p-0.p-small, .preis > span.p-3.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-1.p-small, .preis > span.p-3.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-2.p-small, .preis > span.p-3.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-3.p-small, .preis > span.p-3.p-small + span.p-3.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-4.p-small, .preis > span.p-3.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-5.p-small, .preis > span.p-3.p-small + span.p-5.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-6.p-small, .preis > span.p-3.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-7.p-small, .preis > span.p-3.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-8.p-small, .preis > span.p-3.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-3.p-small + span.p-9.p-small, .preis > span.p-3.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-4.p-small, .preis > span.p-4.p-small{
				width:25px ;
				background-position:-119px -74px ;
			}
				.preis.pl > span.p-4.p-small + span.p-0.p-small, .preis > span.p-4.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-1.p-small, .preis > span.p-4.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-2.p-small, .preis > span.p-4.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-3.p-small, .preis > span.p-4.p-small + span.p-3.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-4.p-small, .preis > span.p-4.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-5.p-small, .preis > span.p-4.p-small + span.p-5.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-6.p-small, .preis > span.p-4.p-small + span.p-6.p-small { margin-left:-1px ; }
				.preis.pl > span.p-4.p-small + span.p-7.p-small, .preis > span.p-4.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-4.p-small + span.p-8.p-small, .preis > span.p-4.p-small + span.p-8.p-small { margin-left:-2px ; }
				.preis.pl > span.p-4.p-small + span.p-9.p-small, .preis > span.p-4.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-5.p-small, .preis > span.p-5.p-small{
				width:23px ;
				background-position:-149px -74px ;
			}
				.preis.pl > span.p-5.p-small + span.p-0.p-small, .preis > span.p-5.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-1.p-small, .preis > span.p-5.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-2.p-small, .preis > span.p-5.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-3.p-small, .preis > span.p-5.p-small + span.p-3.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-4.p-small, .preis > span.p-5.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-5.p-small, .preis > span.p-5.p-small + span.p-5.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-6.p-small, .preis > span.p-5.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-7.p-small, .preis > span.p-5.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-8.p-small, .preis > span.p-5.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-5.p-small + span.p-9.p-small, .preis > span.p-5.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-6.p-small, .preis > span.p-6.p-small{
				width:24px ;
				background-position:-178px -74px ;
			}
				.preis.pl > span.p-6.p-small + span.p-0.p-small, .preis > span.p-6.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-1.p-small, .preis > span.p-6.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-2.p-small, .preis > span.p-6.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-3.p-small, .preis > span.p-6.p-small + span.p-3.p-small { margin-left:-4px ; }
				.preis.pl > span.p-6.p-small + span.p-4.p-small, .preis > span.p-6.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-5.p-small, .preis > span.p-6.p-small + span.p-5.p-small { margin-left:-4px ; }
				.preis.pl > span.p-6.p-small + span.p-6.p-small, .preis > span.p-6.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-7.p-small, .preis > span.p-6.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-8.p-small, .preis > span.p-6.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-6.p-small + span.p-9.p-small, .preis > span.p-6.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-7.p-small, .preis > span.p-7.p-small{
				width:21px ;
				background-position:-206px -74px ;
			}
				.preis.pl > span.p-7.p-small + span.p-0.p-small, .preis > span.p-7.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-1.p-small, .preis > span.p-7.p-small + span.p-1.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-2.p-small, .preis > span.p-7.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-3.p-small, .preis > span.p-7.p-small + span.p-3.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-4.p-small, .preis > span.p-7.p-small + span.p-4.p-small { margin-left:-7px ; }
				.preis.pl > span.p-7.p-small + span.p-5.p-small, .preis > span.p-7.p-small + span.p-5.p-small { margin-left:-4px ; }
				.preis.pl > span.p-7.p-small + span.p-6.p-small, .preis > span.p-7.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-7.p-small, .preis > span.p-7.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-8.p-small, .preis > span.p-7.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-7.p-small + span.p-9.p-small, .preis > span.p-7.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-8.p-small, .preis > span.p-8.p-small{
				width:26px ;
				background-position:-232px -74px ;
			}
				.preis.pl > span.p-8.p-small + span.p-0.p-small, .preis > span.p-8.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-8.p-small + span.p-1.p-small, .preis > span.p-8.p-small + span.p-1.p-small { margin-left:-4px ; }
				.preis.pl > span.p-8.p-small + span.p-2.p-small, .preis > span.p-8.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-8.p-small + span.p-3.p-small, .preis > span.p-8.p-small + span.p-3.p-small { margin-left:-4px ; }
				.preis.pl > span.p-8.p-small + span.p-4.p-small, .preis > span.p-8.p-small + span.p-4.p-small { margin-left:-4px ; }
				.preis.pl > span.p-8.p-small + span.p-5.p-small, .preis > span.p-8.p-small + span.p-5.p-small { margin-left:-4px ; }
				.preis.pl > span.p-8.p-small + span.p-6.p-small, .preis > span.p-8.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-8.p-small + span.p-7.p-small, .preis > span.p-8.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-8.p-small + span.p-8.p-small, .preis > span.p-8.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-8.p-small + span.p-9.p-small, .preis > span.p-8.p-small + span.p-9.p-small { margin-left:-3px ; }

			.preis.pl > span.p-9.p-small, .preis > span.p-9.p-small{
				width:24px ;
				background-position:-263px -74px ;
			}
				.preis.pl > span.p-9.p-small + span.p-0.p-small, .preis > span.p-9.p-small + span.p-0.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-1.p-small, .preis > span.p-9.p-small + span.p-1.p-small { margin-left:-4px ; }
				.preis.pl > span.p-9.p-small + span.p-2.p-small, .preis > span.p-9.p-small + span.p-2.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-3.p-small, .preis > span.p-9.p-small + span.p-3.p-small { margin-left:-5px ; }
				.preis.pl > span.p-9.p-small + span.p-4.p-small, .preis > span.p-9.p-small + span.p-4.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-5.p-small, .preis > span.p-9.p-small + span.p-5.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-6.p-small, .preis > span.p-9.p-small + span.p-6.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-7.p-small, .preis > span.p-9.p-small + span.p-7.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-8.p-small, .preis > span.p-9.p-small + span.p-8.p-small { margin-left:-3px ; }
				.preis.pl > span.p-9.p-small + span.p-9.p-small, .preis > span.p-9.p-small + span.p-9.p-small { margin-left:-3px ; }

/* ### first character reset ### */
.preis > span:first-child{
	margin-left:-10px ;
}
.preis > span.p-small:first-child{
	margin-left:0px ;
}


/* ------------------------------------------------- Streichpreis ------------------------------------------------------------ */
/***** dynStreichpreiss CE ******/


.dynStreichpreis.p24{
	position:absolute;
	top: 5px;
	right: 685px;

	width: auto;
	height: auto;

	margin:20px 0px 0px 0px;

	z-index:50;
	background-color: #FFE600;
}

.dynStreichpreis > span{
	display:inline-block;
	background:url('http://www.conrad.de/medias/sys_master/8541948673652272.png') 0px 0px no-repeat ;
	background-size:512px 169px;
	overflow: hiddden;
	text-indent:-9999em ;
	overflow:hidden ;
	float:left;

}
	/* ### dynStreichpreis 24px ### */
	.dynStreichpreis.p24 > span{
		height:26px ;
	}
	.dynStreichpreis.p24 > span.p-0{
		width:8px ;
		background-position:-105px -127px;
	}

	.dynStreichpreis.p24 > span.p-1{
		width:5px;
		background-position:-116px -127px;
	}

	.dynStreichpreis.p24 > span.p-2{
		width:7px;
		background-position:-124px -127px;
	}

	.dynStreichpreis.p24 > span.p-3{
		width:6px;
		background-position:-134px -127px;
	}

	.dynStreichpreis.p24 > span.p-4{
		width:9px;
		background-position:-143px -127px;
	}

	.dynStreichpreis.p24 > span.p-5{
		width:7px;
		background-position:-155px -127px;
	}

	.dynStreichpreis.p24 > span.p-6{
		width:8px;
		background-position:-165px -127px;
	}

	.dynStreichpreis.p24 > span.p-7{
		width:8px;
		background-position:-175px -127px ;
	}

	.dynStreichpreis.p24 > span.p-8{
		width:8px ;
		background-position:-185px -127px ;
	}

	.dynStreichpreis.p24 > span.p-9{
		width:8px ;
		background-position:-196px -127px ;
	}

	.dynStreichpreis.p24 > span.p-c{
		width:3px ;
		background-position:-207px -127px ;
	}





/* ### first character reset ### */
.dynStreichpreis > span:first-child{
	margin-left:5px ;
}
.dynStreichpreis > span:last-child{
	margin-right:20px ;
}
/* durchstrich */
.dynStreichpreis > span:before {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 45%;

	border-color: #0098DD;
	border-top: 1px solid #0098DD;

	margin: 0px 18px 0px 5px;

	content: "";
	-webkit-transform: rotate(-10deg);  /* Chrome, Safari 3.1+ */
	-moz-transform: rotate(-10deg);  /* Firefox 3.5-15 */
	-ms-transform: rotate(-10deg);  /* IE 9 */
	-o-transform: rotate(-10deg);  /* Opera 10.50-12.00 */
	transform: rotate(-10deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
